body{
margin: 0;
height: 100vh;
background-color: black;

}

span {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='red'%3E%3Cpath d='M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z'/%3E%3C/svg%3E");
    width: 70px;
    height: 70px;
    position: absolute;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: animate 6s linear;
}

@keyframes animate{
    0%{
        transform: translate(-50%, -50%);
opacity: 1;
filter: hue-rotate(0);
    }
    100%{
   transform: translate(-50%, -5000%);
opacity: 0;
filter: hue-rotate(1000deg);
    }
}